<h1>New game</h1>

<div id="letter-choice">
  <%@letters.each do |letter|%>
    <button class="letters"><%= letter%></button>
  <%end%>
</div>

<label for="word">What is the longest word you can find?</label>
<form action="/score" method="post" data-turbo="false">
  <input id="word" type="text" name="word" value="<%= params[:word] %>">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
